.DS_Store
*.database.db
*.db
.pyc
/__pycache__
__pycache__
*.pyc
*./__pycache__
**/__pycache__
*/__pycache__
**/.__pycache__
*.pyc
**/.__pycache__
*.cpython-39.pyc
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

venv