

.LoginComponent {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    place-items: center;
    background-color: black;
    width: 55%;
    padding: 2%;
    margin: auto;
}

.LoginComponentTitle {
    font-size: 30px;
    font-weight: bold;
}

.LoginComponentDontHave {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    place-items: center;
}

.LogInDashboard {
    color: white;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    margin-bottom: 20%;
    border: none;
    box-shadow: none;
   }

.LoginForm {
    color: white;
    width: 200px;
    height: 35px;
}


.resetPasswordText {
    padding: 6%;
    line-height: 1.5;
}

.UncursorableButton {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.UpreachTitle {
    text-transform: uppercase;
    letter-spacing: .6px;
    color: white;
}


/* Header styles */
.Header {
    text-align: center;
    margin-bottom: 20px;
}

/* One-liner styles */
.UpreachSubTitle {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    font-family: "Arial";
    margin: 0 0 1rem;
    color: #40C6FF
  }
.Dashboard-Rocket-Header {
    position: absolute;
    left: calc(50% - 95px);
}

 /* Upload selected styles */
 .LogInDashboard {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    box-shadow: none;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;

    padding: 12px 16px 12px 42px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 13px 13px;
    margin-bottom: 50px;
    width: 225px;
}

.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    border-style: solid;
    border-color: black;
    border-radius: 3px;
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow:
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
}

.login-with-google-btn {
    /* other styles */
    border: 1px solid white;
    border-color: white;
    color: white;
    background-color: black;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, .04), 0 1px 1px rgba(255, 255, 255, .25);
    cursor: pointer;
}

.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(255, 255, 255, .04), 0 2px 4px rgba(255, 255, 255, .25);
    border-color: white;
    background-color: #282e35;
}

.login-with-google-btn:active {
    background-color: #333;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow:
    0 -1px 0 rgba(255, 255, 255, .04),
    0 2px 4px rgba(255, 255, 255, .25),
    0 0 0 3px #c5e1f5;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;

    padding: 12px 16px 12px 42px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik45IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 13px 13px;
    margin-bottom: 50px;
    width: 225px;
    cursor: pointer;
}

.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    background-color: #f5f5f5;
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow:
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
}

.login-with-google-btn-new {
    padding: 12px 16px 12px 12px;
    border-radius: 3px;
    margin-bottom: 50px;
    width: 225px;
    height: 50px;
    cursor: pointer;
    background-repeat: no-repeat;  /* Ensures the image does not repeat */
    background-size: cover;        /* Makes the image fill the entire button */
    background-position: center;   /* Centers the image within the button */
    border: none;                  /* Removes any default borders the button might have */
}


.ButtonType6 {
    justify-content: flex-end;
    padding: 10px 16px;
    padding-bottom: 13px;
    margin-right: 0px;
    margin-top: 10px;
    height: 50px;
    width: 225px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    background: #40C6FF;
    border-radius: 4px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
  }

  .ButtonType6:disabled,
  .ButtonType6[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  }


  .LogoutButton {
    position: absolute;
    right: 20px;
    top: 50px;
    cursor: pointer;
}