.LP-Applications {
    display: grid;
    grid-template-rows: 1fr;
    /*grid-template-columns: 2fr 8fr;*/
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 0%;
    padding-right: 0%;
    /*align-items: center;*/
    text-align: center;
    /*justify-content: center;*/
    /*border: 5px solid #1D1E20;*/
  }

  .Applications-Header {
    /* Section title */

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding-top: 80px;
    /* identical to box height */


    color: #FFFFFF;
    align-items: left;
  }

  .Green-Line {
    width: 70%;
    justify-content: left;
    text-align: left;
    border-top: .75px solid #40C6FF;
    border-bottom: .75px solid #40C6FF;
    margin-left: 0;
    margin-top: 30px;
  }

  .Green-Line-New {
    width: 100%;
    justify-content: left;
    text-align: left;
    border-top: 1.5px solid #40C6FF;
    border-bottom: 1.5px solid #40C6FF;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .Applications-SubHeader {
    /* Section title */

    /* Section subtitle */

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-top: 10px;

    color: #40C6FF;
  }

  .Applications-Paragraph {
    /* Section subtitle */

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;

    width: 70%;
  }

  .Application-ParagraphBold {
    /* Section subtitle */
    padding-top: 10px;
    margin-top: 10px;
    display: list-item;
    display: inline;
    line-height: 25px;
    color:  #28B2FB;
  }

  .LP-Applications-View {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    vertical-align: center;
    align-items: center;
  }

  .LP-Applications-View-Two {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .finance-square {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #2F3946;
    color: white;
    text-align: center;
  }

  .education-square {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #39800B;
    color: white;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    text-align: center;
  }

  .productivity-square {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #E17605;
    color: white;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    text-align: center;
  }

  .bigtech-square {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #1684C4;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .government-square {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #009696;
    color: white;
  }

  .nonprofit-square {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #0038b8;
    color: white;
  }

  .insurance-square {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #887EFC;
    color: white;
  }

  .healthcare-square {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #C7200A;
    color: white;
  }

  .legaltech-square {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #951AA1;
    color: white;
  }

  .miscellaneous-square {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #662A00;
    color: white;
  }

  .research-square {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #6253DA;
    color: white;
  }

  .application-category {
    color: white;
    font-family: Arial;
    font-weight: bold;
    margin: auto;
  }

  .application-header {
    color: white;
    font-family: Arial;
    font-weight: bold;
    margin: auto;
  }

  .application-body-finance {
    background-color: #2F3946;
    border-radius: 10px;
    border: .5px solid #72777E;
    font-family: "Arial";
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }

  .application-body-healthcare {
    background-color: #C7200A;
    border-radius: 10px;
    border: .5px solid #F0766B;
    font-family: "Arial";
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }

  .application-body-education {
    background-color: #39800B;
    border-radius: 10px;
    border: .5px solid #A3D982;
    font-family: "Arial";
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }

  .application-body-nonprofit {
    background-color: #0038b8;
    border-radius: 10px;
    border: .5px solid #0170e8;
    font-family: "Arial";
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }

  .application-body-miscellaneous {
    background-color: #662A00;
    border-radius: 10px;
    border: .5px solid #CA6902;
    font-family: "Arial";
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }

  .application-body-legaltech {
    background-color: #951AA1;
    border-radius: 10px;
    border: .5px solid #E192ED;
    font-family: "Arial";
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }


  .application-body-research {
    background-color: #6253DA;
    border-radius: 10px;
    border: .5px solid #CCCCFF;
    font-family: "Arial";
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    line-height: 1.5;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }