
.LP-FiletypesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
}
@media (max-width: 1070px) {
    .LP-FiletypesContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

/* .LP-ValueAddList ul {
    list-style: none;
} */

.LP-ValueAddList {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* line-height: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left; */
    color: white;
    /* display: block;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10%; */
}

.LP-FileTypeValueAdd-Inner {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}
.LP-FileTypeValueAdd-Inner img {
    width: 55%;
    height: 55%;
    object-fit: contain;
}

.LP-FileTypeValueAdd-Inner .ValueDescription {
    padding-right: 50px;
}

/* .LP-ValueAddListRight li {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    color: white;
    display: block;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15%;
} */

.KeyValue {
    /* padding-left: 15%; */
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* line-height: 29px; */
    text-align: left;
    /* padding-left: 40px; */
}

@media (max-width: 1070px) {
    .KeyValue {
        font-size: 16px;
        /* padding-right: 50px; */
    }
    /* .LP-FileTypeValueAdd-Inner img {
        margin-right: 50px;
    } */
    .LP-FileTypeValueAdd-Inner {
        /* row-gap: 100px;
        column-gap: 10px; */
    }
}
@media (max-width: 600px) {
    .LP-FileTypeValueAdd-Inner {
        gap: 5px;
    }
}

.ValueDescription {
    /* padding-left: 15% */
    text-align: left;
    /*padding-left: 40px;*/
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.LP-CapabilitiesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #40C6FF;
    /*background-image: url("../landing_page_assets/blue.png");*/
}

.LP-Filetypes h3 {
    display: grid;
    place-items: center;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    padding-left: 10%;
    padding-right: 10%;
}

.LP-WhatWeDo h3 {
    display: grid;
    place-items: center;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.LP-Filetypes img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.LP-FiletypesDocuments img{
    width: 75px;
    height: 75px;
    object-fit: cover;
}

@media (max-width: 900px) {
    .LP-Filetypes img {
        width: 50px;
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }


}

@media (max-width: 1070px) {
    .LP-CapabilitiesContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 0px;
    }
    .LP-Filetypes h3 {
        font-size: 16px;
    }
    .LP-FileTypeValueAdd-Inner {
        column-gap: 10px;
        place-items: center;
    }
    .LP-FileTypeValueAdd-Inner-Inner {
        width: 100%;
    }
    .KeyValue {
        text-align: left;
    }
}

