.LP-sample-project-container .LP-sample-project-image-time {
    background-image: url('../landing_page_assets/time.png');
  }

.LP-sample-project-container .LP-sample-project-image-cost {
    background-image: url('../landing_page_assets/money.png');
  }

.LP-sample-project-container .LP-sample-project-image-accurate {
    background-image: url('../landing_page_assets/accuracy.png');
  }
/**
  .LP-sample-project-container-new .LP-sample-project-image-human {
    background-image: url('../landing_page_assets/human.png');
  }

  .LP-sample-project-container-new .LP-sample-project-image-programmatic {
    background-image: url('../landing_page_assets/programmatic.png');
  }

  .LP-sample-project-container-new .LP-sample-project-image-fewshot {
    background-image: url('../landing_page_assets/fewshot.png');
  }
**/
.LP-sample-project-container-new {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.LP-sample-project-container-new img{
    width: 250px;
    height: 225px;
}

.LP-sample-project-container-new {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
}

.LP-sample-project-container-new .LP-sample-project-advantage {
    align-items: center;
    background-color: #0170e8;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    width: 95%;
  }

.LP-sample-project-container-new .LP-sample-project-description {
    background-color: #0038b8;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Arial";
    font-weight: italic;
    text-align: center;
    width: 95%;
  }

.LP-sample-project-container-new {
    height: 250px;
    width: 250px;
}

.project-color {
  color: yellow;
  background-color: blue;
  display: inline-block;
}