.chatbot-container {
  position: relative;
  background-color: #222;
  color: white;
  padding: 20px;
  scrollbar-width: auto;
}

/* Customize the scrollbar width and track */
.chatbot-container::-webkit-scrollbar {
  width: 6px;
}

.chatbot-container::-webkit-scrollbar-track {
  background: #222;
}

/* Customize the scrollbar thumb */
.chatbot-container::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 3px;
}

/* Customize the scrollbar thumb on hover */
.chatbot-container::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow-y: scroll; /* Enable vertical scrollbar */
}

.reset-icon {
  color: white;
  padding-left: 2%;
  cursor: pointer;
}

.message {
  display: flex;
}

.incoming {
  align-self: flex-start;
  background-color:#BCBCBC ;
  color: #3A3B41;
  border-radius: 6px;
}

.outgoing {
  align-self: flex-end;
  /* background-color: #40C6FF; */
  background-color: #F1CA57;
  color: black;

  border-radius: 6px;
}

.message-content {
  padding: 10px;
}

.message-text {
  color: white;
  word-wrap: break-word;
  max-width: 300px;
  font-family: Arial, sans-serif;
}

.message-input-container {
  position: absolute;
  bottom: 60px;
  display: flex;
  align-items: center;
  width: 100%;
}

.upload-button {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.upload-button input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.upload-button label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.upload-button label:hover {
  background-color: #444;
}

.upload-button label i {
  font-size: 16px;
}

.download-button {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: white;
}

.download-button input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.download-button label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F1CA57;
  color: #F1CA57;
  cursor: pointer;
}

.download-button label:hover {
  background-color: #F1CA57;
}

.download-button label i {
  font-size: 16px;
}

.message-input {
  flex: 0.95;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  margin-right: 1%;
}

.message-input:focus {
  outline: none;
  background-color: #444;
  border: 1px solid #28b2fb;
  border-color: #28b2fb;
  color: white;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding-bottom: 15px;
  border-radius: 50%;
  /*background-color: #28b2fb;*/
  color: white;
  cursor: pointer;
}

.powered-by {
  /* position: absolute;
    bottom: 30px; */
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
}

.powered-by .anote {
  font-weight: bold;
}

.horizontal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-button label:hover,
.download-button label:hover,
.send-button:hover,
.reset-icon:hover {
  color: #F1CA57;
}
