.Label-Home{
/* display: flex; */
    position: relative;
    flex-direction: column;
    background-color: black;
}
.Label-Header{
    min-height: 90vh;
    color: white;
    padding-top: 10vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
    /* display: flex;
    flex-direction: row; */
    /* flex: 1; */
    background-image: linear-gradient(black,black),url("../landing_page_assets/coolwave.svg");
    background-repeat: no-repeat,no-repeat;
    background-size: 100vw 50vh, 100vw auto;
    background-position: top, 0vw 50vh ;
}

.Label-Landing-Page-Start-header{
    margin-top: 100px;
    text-align: center;
}


.Label-header-h1{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;

    /* White */

    color: #FFFFFF;
}

.Label-header-h2{
    font-family: 'Helvetica Neue';
    margin-top: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.Label-header-h3{
    font-family: 'Helvetica Neue';
    margin-top: 5vh;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 39px;
    color: #FFFFFF;
}
.Label-header-h4{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-size: 1.2rem;
    line-height: 39px;
    color: #FFFFFF;
}


.Label-WhatWeDoHeader {
    margin-top: 15vh;
    text-align: center;
    margin-bottom: 0px;
}

.Label-Title {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 39px;
    color: #FFFFFF;
  }