.LP-footer {
    display: flex;
    justify-content: space-around;
    padding: 2vh 15vw 10vh 15vw;
    font-size: 14px;
    color: #ccc;
    background-color: #282e35;
    margin-top: 10vh;
    padding-top: 5vh;
  }
  .LP-footer-Headings{
    font-size: 1.1rem;
    font-weight: bolder;
    color: #40C6FF;
  }

  .LP-footer-section {
    display: flex;
    flex-direction: column;
  }

  .LP-footer-section h3 {
    margin-bottom: 15px;
  }

  .LP-footer-section ul {
    list-style-type: none;
    padding: 0;
  }

  .LP-footer-section ul li a {
    color: #ccc;
    text-decoration: none;
  }

  .LP-footer-section ul li a:hover {
    color: #28b8fb;
  }

  .LP-footer-link{
    margin: 2vh 0vw 1vh 0vw;
    font-size: 1rem;
    cursor: pointer;
  }

  /* .LP-footer-link:hover{
    color: #ffff4a
  } */
  .LP-footer-bottom {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #444;
    color: white;
    background-color: #282e35;
  }


  /* .LP-footer {
    padding: 20px 0px;
    text-align: center;
    font-size: 14px;
    color: #ccc;
    background-color: #1F2225;
  } */
