
.LP-Get-Started {
    /**display: flex-end;
    flex-direction: row;
    float: right;*/
    justify-content: flex-end;
    padding: 15px 15px;
    margin-right: 10px;
    margin-top: 15px;
    height: 50%;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #000000;
    cursor: pointer;

    /* Yellow */

    background: #40C6FF;
    border-radius: 4px;
    border: 1px solid black;
}

.arrow-icon {
    font-size: 10px;
    padding-left: 10px;
}

.LP-Get-Started-Home {
    /*display: flex;
    flex-direction: row;*/
    padding: 12px 16px;
    float: center;
    margin-top: 30px;
    margin-right: 20px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;

    /* Yellow */

    background: #40C6FF;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.LP-Get-Started-New {
    /**display: flex-end;
    flex-direction: row;
    float: right;*/
    justify-content: flex-end;
    padding: 15px 15px;
    margin-right: 10px;
    margin-top: 15px;
    height: 50%;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #000000;
    cursor: pointer;

    /* Yellow */

    background: #40C6FF;
    border-radius: 4px;
    border: 1px solid black;
}

.LP-Documentation-New {
    /*display: flex;
    flex-direction: row;*/
    justify-content: flex-end;
    padding: 15px 15px;
    margin-right: 10px;
    margin-top: 15px;
    height: 50%;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;


    /* identical to box height */


    color: #40C6FF;

    /* Black */

    background: black;
    /* Yellow */

    border: 1px solid #40C6FF;
    border-radius: 4px;
    cursor: pointer;
}

.LP-Documentation {
    /*display: flex;
    flex-direction: row;*/
    justify-content: flex-end;
    padding: 15px 15px;
    margin-right: 10px;
    margin-top: 15px;
    height: 50%;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;


    /* identical to box height */


    color: #40C6FF;

    /* Black */

    background: black;
    /* Yellow */

    border: 1px solid #40C6FF;
    border-radius: 4px;
    cursor: pointer;
}


.LP-Schedule-Demo-Home {
    /*display: flex;
    flex-direction: row;*/
    padding: 12px 16px;
    float: center;
    margin-top: 30px;
    margin-right: 20px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #40C6FF;

    /* Black */

    background: black;
    /* Yellow */

    border: 1px solid #40C6FF;
    border-radius: 4px;
    cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    .btn-yellow {
        @apply font-['Helvetica_Neue'] inline-flex bg-[#40C6FF] text-white border-2 border-[#40C6FF] py-2 px-6 focus:outline-none hover:bg-[#28B2FB] rounded text-sm md:text-lg font-bold rounded-3xl
    }
    .btn-black{
        @apply  font-['Helvetica_Neue'] inline-flex bg-[#141414]
 text-white border-2 border-white py-2 px-6 focus:outline-none hover:bg-gray-950 rounded text-sm md:text-lg font-bold rounded-3xl
    }
}