

.LP-Title-GPT {
    font-family: 'Helvetica Neue';
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    margin: 2vh 0vw 2vh 0vw;
    color: #FFFFFF;
    text-align: left;
}

.LP-SubTitle-GPT{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 39px;
    background: -webkit-linear-gradient(turquoise, #28b2fb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: black;
    text-align: left;
    margin: 4vh 0vw 1vh 0vw;
}

.LP-Description-GPT{
    font-family: 'Helvetica Neue';
    font-style: normal;
    line-height: 0.8;
    font-size: 1.2rem;
    color: #FFFFFF;
    text-align: left;
    margin-left: 10px;
}
.LP-Description-data{
    line-height: 1.8;
    margin-right: 20vw;
    font-size: 1.2rem;
}

.LP-Description-data-subtitle{
    line-height: 1.8;
    margin-right: 20vw;
    font-size: 1.2rem;
}
.LP-FileTypeValueAddGPT {
    background-color: gray;
}
.LP-FileTypeValueAdd-GPT{
    min-height: 90vh;
    color: white;
    padding-top: 10vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex: 1;
    /* background-image: linear-gradient(black,black),url("../landing_page_assets/coolwave.svg");
    background-repeat: no-repeat,no-repeat;
    background-size: 100vw 50vh, 100vw auto;
    background-position: top, 0vw 50vh ; */
}
.Header-GPT{
    flex: 1;
    flex-basis: 60%;
    justify-content: center;
    margin-left: 5vw;
}
.iframe-container-GPT {
    border: 20px solid #282e35;
    position: relative;
    width: 640px;
    margin-left: 2vw;
}


.LP-PrivateGPT-Flowchart{
    margin: 10vh 0vw 10vh 0vw;
    justify-content: center;
    text-align: center;
}

.LP-Flowchart{
    width: 80vw;
}

.LP-Buttons-GPT{
    margin: 4vh 0vw 4vh 0vw;
    justify-content: center;
    text-align: left;
}