.ellipse-container ellipse {
    stroke-width: 2;
    fill: black;
  }
/*
  #red-ellipse {
    stroke: red;
    fill: black;
    stroke-width: 2;
  }

  #pink-ellipse {
    stroke: #fe00fe;
    fill: black;
    stroke-width: 2;
  }

  #yellow-ellipse {
    stroke: black;
    fill: yellow;
  }

  #green-ellipse {
    stroke: green;
    fill: black;
  }

  #purple-ellipse {
    fill: purple;
    stroke: black;
  }

  #blue-ellipse {
    fill: blue;
    stroke: black;
  }

  #white-ellipse {
    fill: black;
    stroke: white;
  }
*/

  #red-ellipse {
    stroke: red;
  }

  #neon-yellow-ellipse {
    stroke: yellow;
  }

  #blue-ellipse{
    stroke: #28B2FB;
  }

  #white-ellipse {
    stroke: white;
  }

  #pink-ellipse {
    stroke: #fe00fe;
  }

  #purple-ellipse {
    stroke: purple;
  }

  #orange-ellipse{
    stroke: #F65F50;
  }

  #yellow-ellipse{
    stroke: #FFB200;
  }

  #green-ellipse{
    stroke: #76C643;
  }

  #light-pink-ellipse{
    stroke: #E192ED;
  }

  #light-blue-ellipse{
    stroke: #80DBDB;
  }

  #light-purple-ellipse{
    stroke: #887EFC;
  }

  #gray-ellipse{
    stroke: #989DA4;
  }

  #indigo-ellipse{
    stroke: #4837B9;
  }

  #red-span {
    color: red;
    font-size: 60px;
    margin-right: 20px;
  }

  #neon-yellow-span {
    font-size: 60px;
    color: yellow;
    margin-right: 20px;
  }

  #blue-span{
    color: #28B2FB;
    font-size: 60px;
    margin-right: 20px;
  }

  #white-span {
    font-size: 60px;
    color: white;
    margin-right: 20px;
  }

  #pink-span {
    color: #fe00fe;
    font-size: 60px;
    margin-right: 20px;
  }

  #purple-span {
    color: purple;
    font-size: 60px;
    margin-right: 20px;
  }

  #orange-span{
    color: #F65F50;
    font-size: 60px;
    margin-right: 20px;
  }

  #yellow-span{
    color: #FFB200;
    font-size: 60px;
    margin-right: 20px;
  }

  #green-span{
    color: #76C643;
    font-size: 60px;
    margin-right: 20px;
  }

  #light-pink-span{
    color: #E192ED;
    font-size: 60px;
    margin-right: 20px;
  }

  #light-blue-span{
    color: #80DBDB;
    font-size: 60px;
    margin-right: 20px;
  }

  #light-purple-span{
    color: #887EFC;
    font-size: 60px;
    margin-right: 20px;
  }

  #gray-span{
    color: #989DA4;
    font-size: 60px;
    margin-right: 20px;
  }

  #indigo-span{
    color: #4837B9;
    font-size: 60px;
    margin-right: 20px;
  }

  #ellipse-paragraph {
    margin-top: 0px;
    padding-top: 0px;

    margin-bottom: 50px;
    padding-top: 0px;
  }

  #square {
    height: 100%;
    width: 100%;
    stroke: yellow;
    fill: black;
  }

  #EllipseList{
    list-style: none;
  }

  #EllipseList ul span {
    font-size: 80px;
  }

  .EllipseList li {
    display: flex;
    list-style: none;
  }

  .span-style {
    align-self: flex-start;
    margin-top: 15px;
  }

